<html>
    <head>

    </head>

    <body>
        <h1 style="text-align:center">Twitter FFMPEG Google Vision Analysis</h1>
        <br>
        <p style="text-align: center">Please enter the folowing: </p>
        <form style="text-align: center" method="POST">
            Twitter Handle:  
            <input name="username">
            <br><br>
            &nbsp;
            Output Folder:  <input name="output">
            <br><br>
            Number of Images:  <input name="num">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>